<div class="login-bg-wrapper">
    <div class="login-image-wrapper"></div>
    <div class="login-wrapper">
        <div class="login-card">
            <b>Login Page</b>
            <div class="input-label">
                <label>Email</label>
                <input type="email" [(ngModel)]="email" placeholder="Enter Email" />
            </div>
            <div class="input-label">
                <label>Password</label>
            <input type="password" [(ngModel)]="password" placeholder="Enter Password" />
            </div>
            <div class="button-section">
                <button type="button" id="submit" #login>Log In</button>
            </div>
        </div>
        <div class="signUp">
           <p>Don't have any Account? <span (click)="signUp()"> Let's Sign Up</span></p>
        </div>
    </div>
</div>