@import '../../../src/styles-media.scss';

.login-page{
    .card-height{
        width: 30%;
    }

    .mat-card{
        min-width: 80%;
        height: 100%;
        text-align:center;

        .mat-card-actions{
           width: 100%; 
        }
        .mat-card-content{
            width: 80%;
        }
        .mat-card-title{
            width: 100%;
        }
        .mat-card-footer{
            width:100%;
            p{
                margin-left: 12px;
                span{
                    cursor: pointer;
                    color:#6696f0;
                    &:hover{
                        text-decoration: underline;
                        text-decoration-color: #6696f0;
                    }
                }
            }
        }
    }
    
}

// @include media("screen","<minWidth"){
//     .login-page{
//         .card-height{
//             width: 100%;
//         }
//     }
// }