<div class="row">
    <div class="col-md-12 d-flex">
        <div class="mobile-view">
            <div class="d-flex flex-column flex-wrap justify-content-around p-2">
                <mat-card>
                    <mat-card-title><p>Add Product</p></mat-card-title>
                    <mat-card-content>
                    <form class="form" [formGroup]="addProductGroup" class="d-flex flex-column">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name"  />
                            <mat-error *ngIf="addProductGroup.get('name').hasError('required') "></mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category" disableRipple>
                              <mat-option value="Cotton">Cotton</mat-option>
                              <mat-option value="Silk">Silk</mat-option>
                              <mat-option value="Synthetic">Synthetic</mat-option>
                            </mat-select>
                          </mat-form-field>
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description"></textarea>
                            <mat-error *ngIf="addProductGroup.get('description').hasError('required') "></mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Quantity</mat-label>
                            <input matInput formControlName="quantity"  />
                            <mat-error *ngIf="addProductGroup.get('quantity').hasError('required') "></mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Price</mat-label>
                            <input matInput formControlName="price"  />
                            <mat-error *ngIf="addProductGroup.get('price').hasError('required') "></mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Availability</mat-label>
                            <mat-select formControlName="availability" disableRipple>
                              <mat-option value="in-stock">In Stock</mat-option>
                              <mat-option value="out-of-stock">Out of Stock</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <input #fileUpload type="file" accept=".jpg,.jpeg,.png" (change)="setToFormValue($event)" multiple hidden/>
                        <button mat-raised-button color="primary" (click)="fileUpload.click()">Choose Files</button>

                        <div class="imageGroup" >
                            <div class="img1" *ngFor="let photo of addProductGroup.get('photos').value">
                                <span class="ml-1">{{photo.name.includes('.') ? photo.name.split('.')[0] : photo.name}}</span>
                                <span class="ml-1" (click)="deletePhoto(photo.fullPath)"><mat-icon [inline]="true">highlight_off</mat-icon></span>
                            </div>
                            <div class="img1" *ngFor="let photo of tempImageArray">
                                <span class="ml-1">{{photo.name.includes('.') ? photo.name.split('.')[0] : photo.name}}</span>
                                <span (click)="deletePhotoTemp(photo.fullPath)"><mat-icon [inline]="true">highlight_off</mat-icon></span>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" id="submit" [disabled]="addProductGroup.invalid" (click)="addProductForTesting()">Add product</button>
                </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>