
<!-- products -->
<div class="landing">
        <div class="container">
            <mat-form-field appearance="fill">
                <mat-label>Filter by Category</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Cotton</mat-option>
                  <mat-option value="2">Silk</mat-option>
                  <mat-option value="3">Synthetic</mat-option>
                </mat-select>
              </mat-form-field>
    
              <button (click)="openProductPage()">Add product</button>
        
    
    </div>
        <div class="row m-3">
            <div *ngFor="let product of products | async" class="col-md-3" style="margin-top: 5px;" >
                <mat-card class="example-card mat-elevation-z8 " (click)="editProduct(product)">
                    <ng-container *ngIf="product?.photos[0] as image">
                    <img mat-card-image
                        [src]="image?.downloadURL" style="max-height: 150px;" alt="" />
                    </ng-container>
                    <mat-card-content>
                        <h4>{{product?.name}}</h4>
                        <div>
                            <p>{{product?.description}}</p>
                            <div class="medium-bold">Rs. {{product?.price}}</div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-stroked-button color="primary">Add to Cart</button>
                        <button mat-raised-button color="primary">Buy now!</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    
</div>