@import '../../../src/styles-media.scss';

.landing{
    margin-top: 115px;
    display: flex;
    height: 100%;
    .mat-card-content{
        max-height: 100px;
    }
    .card-width{
        width: 25%;
    }
}
.example-card {
    max-width: 200px;
}

.medium-bold{
    font-weight: bolder;
    font-size: medium;
}
.mat-card-actions {
    // ...
    &[align='end'] {
      justify-content: flex-end;
    }
  
    &[align='center'] {
      justify-content: center;
    }
  }
  
  @include media("screen","<minWidth"){
    .landing{
        .card-width{
            width: 100%;
            padding: 0% 10% 10% 16%;
        }
    }
}