@import '../../../src/styles-media.scss';

.landing{
    margin-top: 115px;
    overflow-x: hidden;
    height: 100%;
    .example-card {
        max-width: 85%;
        .mat-card-content{
            max-height: 100px;
        }
        .card-width{
            width: 25%;
        }
    }
    
}


.medium-bold{
    font-weight: bolder;
    font-size: medium;
}
.mat-card-actions {
    // ...
    &[align='end'] {
      justify-content: flex-end;
    }
  
    &[align='center'] {
      justify-content: center;
    }
  }
  
  @include media("screen","<minWidth"){
    .landing{
        .example-card{
            max-width: 90%;
            .card-width{
                width: 100%;
                padding: 0% 10% 10% 16%;
            }
        }  
    }
}