/* You can add global styles to this file, and also import other style files */

@import 'assets/fonts/font.scss';

html,body{
    min-height: 100%;
    background : #e6e0e0;
    font-family: 'PT Sans Narrow';
}